<main style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="popup-container">
        <div class="popup">
            <form onsubmit="submitPassword(event)" id="form">
                <input id="password" type="password" name="password" placeholder="Enter password">
                <button type="submit" style="background: black; color: white;">Enter</button>
            </form>
        </div>
    </div>

    <span style="font-size: 3pc; text-align: center;" id="message">Opening soon</span>

    <a href="javascript:document.querySelector('.popup-container').classList.add('active')"
        style="position: absolute; bottom: 40px;">
        Enter using password
    </a>
</main>

<script>
    const IS_ADMIN_ACCESS = window.location.href.endsWith('/admin/password');
    // check if it's admin page
    if(IS_ADMIN_ACCESS) document.querySelector('#message').textContent = 'Admin access';

    if(window.location.hash === '#password-incorrect') {
        document.querySelector('.popup-container').classList.add('active');    
        document.querySelector('#password').focus();
        document.querySelector('#password').placeholder = 'Wrong';

        setTimeout(() => {
            document.querySelector('#password').placeholder = 'Enter password';
        }, 500)
    }

    function submitPassword(e) {
        e.preventDefault();

        const form = document.getElementById('form');

        fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams(new FormData(form))
        }).then(response => {
            if (response.ok) {
                if(!IS_ADMIN_ACCESS) window.location.href = '/';
                else window.location.href = '/admin/home';
            } else {
                window.location.href = '#password-incorrect'
                window.location.reload();
            }
        });
    }
</script>